
/**
 * Header
 */

// Header Backgrounds
$header-bg: #05bfee;
$header-image: url('../assets/images/header-bg.png');
$header-clouds: url('../assets/images/clouds.png');

// Header Properties
$header-clouds-height: 119px;
$header-body-height: 180px;

$clouds-speed: 720s;

/**
 * Navigation
 */

// Nav Properties
$nav-height: 40px;